#SBT
.cache/
.history/
.lib/
dist/*
**/target/*
lib_managed/
src_managed/
project/boot/
project/plugins/project/
#Scala/Java
*.class
#Generic
**/*.log
**/dist
**/*.vs
**/bin
**/obj
**/*.db
#Node
**/node_modules
#Intellij
/.idea